//
// Buttons.css
// --------------------------------------------------

.btn {
  min-width: 120px;
  min-height: 32px;
  font-size: $font-size-default;
  line-height: 20px;
  background: none;
  border: solid $border-width;
  border-color: transparent;
  border-radius: 0;

  &[disabled] {
    color: #848484;
    background: #cccccc;
  }
}

// Normal buttons
.btn-default {
  color: #000000;
  background: #c1c1c1;

  &:active {
    background: #0078d7;
    color: #ffffff;

    .icon {
      color: #ffffff;
    }
  }
}

// For primary buttons
.btn-primary {
  background: #0063b1;
  color: #ffffff;

  &:active {
    background: #0078d7;
  }
}

// For positive buttons
.btn-positive {
  background: #498205;
  color: #ffffff;

  &:active {
    background: #107c10;
  }
}

// For negative actions
.btn-negative {
  background: #ff4343;
  color: #ffffff;

  &:active {
    background: #d13438;
  }
}

// For warning actions
.btn-warning {
  background: #ffb900;
  color: #ffffff;

  &:active {
    background: #ff8c00;
  }
}

// Link buttons
.btn-link {
  background: transparent;
}

// Icons in buttons
.btn .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #393939;
  font-size: 20px;
  line-height: 1;
  vertical-align: bottom;
  float: none;
}

// This utility class add a down arrow icon to the button
.btn-dropdown {
  background: url('../images/windows10/select-arrow.png') no-repeat calc(100% - 2px) center !important;
}

.btn-dropdown:after {
  content: none;
}