//
// Lists.scss
// --------------------------------------------------

// List groups
// These are to be used when shows list items that contain
// more substanstial amounts of information. (headings, images, text, etc.)

.list-group-item {
  padding: 10px 12px;
  font-size: $font-size-default;
  line-height: 1.2;
  color: #414142;
  border-top: 1px solid $border-color;

  &.active,
  // `.selected` is deprecated. Use `.active` instead.
  &.selected {
    background-color: $active-color;
  }
}

.list-group-header {
  padding: 10px 15px;
}

// Media objects in lists
.media-object {
  margin-top: 0;
}

.media-body {
  strong {
    font-weight: $font-weight-semibold;
  }

  p {
    color: #696969;
  }
}

.list-group-item {
  &.single-line .media-body {
    margin-top: 14px;
  }

  &.double-line .media-body {
    margin-top: 6px;
  }
}